@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__blog/cards__blog.css);
@import url(./__link/cards__link.css);

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.875rem;
    max-width: 1170px;
    margin: 0 auto 8.5625rem;
}

@media (max-width: 900px) {
  .cards {
    margin: 0 auto 90px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .cards {
    margin: 0 auto 60px;

  }
}
