@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__blog/cards__blog.css);
@import url(./__link/cards__link.css);

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 1.875rem;
    max-width: 1170px;
    margin: 0 auto 137px;
    row-gap: 40px;

   
}
