@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 30px;
    max-width: 1170px;
    margin: 0 auto;
    row-gap: 40px;
}
