.blog__lead {
    font-size: .875rem;
    line-height: 140.62%;
    font-weight: 500;
    margin: 0;
    text-decoration: none;
    color: black;
    transition: opacity .2s linear;
}

.blog__lead:hover {
    opacity: .7;
}