.footer__terms {
    font-size: .875rem;
    line-height: 140.62%;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: opacity .2s linear;
}

.footer__terms:hover {
    opacity: .7;
}