.footer__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.footer__container:first-of-type {
    padding-bottom: 43px;
}

.footer__container:last-of-type {
    margin: 70px auto 0;
}

@media screen and (max-width: 500px) {
    .footer__container:first-of-type {
        padding-bottom: 25px;
    }

    .footer__container:last-of-type {
        margin: 55px auto 0;
    }
}