.logo{
    margin-left: 80px;
    width: 41px;
}

@media (max-width: 800px){
    .logo{
        margin-top: 30px;
        margin-left: 50px;
    }
}

@media (max-width: 500px){
    .logo{
       
        margin-left: 15px;
    }
}