.survey__content{
    max-width: 433px;
    align-self: center;
    margin: 50px auto 25px;
    max-width: 441px;
    padding-top: 0;
}

@media (max-width: 1000px){
    .survey__content{
        padding-top: -30px;
        margin-top: 0;
    }
}

@media (max-width: 800px){
    .survey__content{
        max-width: 500px;
        margin: 0 1.5rem;
    }
}
@media (max-width: 600px){
  .survey__content{
      margin: 0 auto;
      padding: 0;
  }
}
@media (max-width: 530px){
  .survey__content{
      margin: 0 1.5rem;
      padding: 0;
  }
}
