@font-face {
    font-family: 'Homemade Apple';
    src: url('Homemade Apple-Regular.eot');
    src: local('Homemade Apple Regular'), local('Homemade Apple-Regular'),
        url('HomemadeApple-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}