.header__button{
    border:1px solid #F7941E;
    color: #F7941E;
    width: 150px; 
    height: 43px;
    background-color: white;
    border-radius: 5px;
    margin: 50px 35px 35px 0;
    text-transform: uppercase;
}