.survey__title{
    font-size: 2rem;
    line-height:2.8125;
    font-weight: normal;
    

}

@media (max-width: 800px){
    .survey__title{
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
}