.footer__socials {
    width: 1000px;
    border-top: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 55.8px;
}

@media screen and (max-width: 1200px) {
    .footer__socials {
        width: 750px;
    }
}

@media screen and (max-width: 900px) {
    .footer__socials {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .footer__socials {
        width: 350px;
    }
}