@import url(./__content/feature__content.css);
@import url(./__paragraph/feature__paragraph.css);
@import url(./__title/feature__title.css);
@import url(./__image/feature__image.css);

.feature{
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   background-color: #F1F1F2;
}