@import url('__text/feature__text.css');
@import url('__author/feature__author.css');
@import url('__image/feature__image.css');
@import url('__lead/feature__lead.css');
@import url('__title/feature__title.css');



.feature {
    max-width: 81.25%;
    background-color: #231F20;
    margin: 77px auto 40px;
    color: white;
    display: flex;
}

@media screen and (max-width: 600px) {
    .feature {
        margin: 42px auto 60px;
        flex-direction: column;
    }
}